<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schedule your tasks!</title>
    </head>

    <body>


        <main>
            <h2>This is the login page</h2>
            
            <div class="login-form">
                <div class="email-input">
                    <label for="email">Type your email/username:</label>
                    <input type="text" id="email" name="email" required autocomplete="off" placeholder="Your username/email..."><br><br>
                </div>
                <div class="pass-input">
                    <label for="password">Enter your password:</label>
                    <input type="text" id="password" name="pass" required autocomplete="off" placeholder="Ypur password..."><br><br>
                    <a href="#">Forgotten password?</a>
                </div>
                <button id="submitBtn">Log In</button>

            </div>
            <p>Don't have an account? <a href="#">Register...</a></p>
        </main>

    </body>

</html>

