<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schedule your tasks!</title>
    </head>

    <body>
        <header>
            <p>Here is the logo</p>
            <nav>
                <a href="#">Start scheduling</a>
                <a href="#">About</a>
            </nav>
            <div class="additional">
                <div class="theme-toggle">
                    <i></i>
                </div>
                <div class="login-register">
                    <a href="#">Login</a>
                    <a href="#">Sign Up</a>
                </div>
            </div>
        </header>

        <main>
            <h2>This is the register page</h2>
            
            <div class="register-form">
                <div class="user-input">
                    <label for="username">Type your username:</label>
                    <input type="text" id="username" name="username" required autocomplete="off" placeholder="Your username..."><br><br>
                </div>
                <div class="email-input">
                    <label for="email">Type your email:</label>
                    <input type="text" id="email" name="email" required autocomplete="off" placeholder="Your email..."><br><br>
                </div>
                <div class="pass-input">
                    <label for="password">Type your password:</label>
                    <input type="text" id="password" name="pass" required autocomplete="off" placeholder="Your password..."><br>
                    <input type="text" id="password" name="pass" required autocomplete="off" placeholder="Your password again..."><br><br>
                </div>
                <button id="submitBtn">Sign Up</button>

            </div>
            <p>Already have an account? <a href="#">Log in...</a></p>
        </main>

        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                        class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                    href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2018</p>
        </footer>
    </body>

</html>

